/*-- scss:defaults --*/


//import google fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// fonts
$josefin: "Josefin Sans", sans-serif;


// colors 
// define Sass stars
$White: #FFFFFF;
$Antique-white: #FFE8D1;
$Air-Force-blue: #568EA3;
$Sky-blue: #68C3D4;
$Royal-blue: #222A68;

// define quarto variables
$body-bg: $White; 
$navbar-bg: $Antique-white;
$navbar-fg: $Air-Force-blue;
$navbar-hl: $Royal-blue;
$ink-color: $Sky-blue;

/*-- scss:rules --*/
h1,h2,h3,h4 {
  font-family: $josefin;
}

.navbar-brand img {
  max-height: 40px;
  width: auto;
}

h1, h2 {
  letter-spacing: 5px;
  font-weight: 700;
}

.title{
  color: maroon;
}

.center-text {
  text-align: center;
}

.orange-text {
  color: orange;
}


